.sidenav {
  position: fixed;
  height: 100%;
  width: 220px;
  top: 0;
  left: 0;
  background-color: #efefef;
  border-right: 2px solid #cecece;
  overflow-x: hidden;
  padding-top: 20px;  
    /* span {
      padding: 6px  8px  6px  16px;
      text-decoration: none;
      font-size: 25px;
      font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
      color: #818181;
      display: block;
    }.selected {
      color: #e1e1e1;
    }:hover {
      color: #f1f1f1;
      cursor: pointer;
    } */
    label{
      background: #cecece;
      width: 100%;
      padding: 7px 10px;
      font-weight: 500;
      margin-bottom: 0;
    }
    .data-area{
      background: #e0e0e0;
      width: 100%;
      padding: 7px 10px;
      overflow: auto;
      height: 150px
    }
    .data-area2{
      background: #e0e0e0;
      width: 100%;
      padding: 7px 10px;
      height: 60vh;
    }
    .selected-user{
      background: #e0e0e0;
      width: 100%;
      padding: 3px 0px;
      cursor: pointer;
    }
    .text-primary{
      float: right;
      cursor: pointer;
    }
}
