<div class='sidenav'>
	<label>User's List</label>
	<div class="data-area">
		<div *ngFor="let user of allUsers">
			{{ user.fullname }}
			<a class="text-primary" (click)='newDoc(user)' *ngIf="!user.added">Add</a>
			<span class="float-right" *ngIf="user.added">Friend</span>
		</div>
	</div>
	<label>Added Users</label>
	<div class="data-area2">
		<div *ngFor="let friend of allFriends">
			<div class="selected-user" (click)='loadDoc(friend)'>
				{{ friend?.partnerName }}
			</div>
		</div>
	</div>
</div>
