<div class="container">
  <div class="row">
    <!-- <div class="col-md-3"> -->
      <app-document-list></app-document-list>
    <!-- </div> -->
    <div class="col-sm-10 offset-sm-2">
      <app-document></app-document>
    </div>
  </div>
</div>
