<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div 
        class="alert alert-primary col-md-12" 
        role="alert" 
        *ngFor="let chat of allChats"
        [ngClass]="{'alert-primary': chat.userID == loggedInUser.id, 'alert-secondary': chat.userID != loggedInUser.id, 'text-right': chat.userID == loggedInUser.id, 'text-left': chat.userID != loggedInUser.id}"
      >
        {{ chat?.message }}
      </div>
    </div>

    <form>
      <div class="form-group">
        <input type="text" [(ngModel)]='document.message' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="message" placeholder="Message..." (keyup.enter)="editDoc();">
      </div>
    </form>
  </div>
</div>